.interruptor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.interruptor-labels {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.interruptor {
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}

.interruptor-toggle {
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  transition: transform 0.2s;
}

.interruptor-toggle.active {
  transform: translateX(30px);
}
